.container{
    display: flex;
    margin: 0;
    padding: 0;
}

.right{
    width: 60%;
    border-right-style: solid;
    border-right-width: 0.3px;
    border-right-color: rgb(238, 238, 238);
    height: auto;
    margin: 0;
    padding: 0;
}

.left{
    width: 40%;
    margin: 30px;
}
@media screen and (max-width: 600px){
    .container{
        flex-direction: column-reverse;
        flex: 1;
    }
    .left, .right{
        width: 100%;
    }


}