.container{
    position: relative;
    height: 500px;
    margin: 20px 20px;
}

.exchangeText{
    display: flex;
    background-color: rgb(122, 13, 122);
    position: relative;
}
.text{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0.7;
}

.text h1{
    font-size: 24px;
}

.exchangeCard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    height: 220px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    transition: 0.3s;
    position: absolute;
    padding-right: 15px;
    left: 40px;
    top: 220px;
    background-color: white;
    z-index: 5;
}

.exchangeInput{
    padding-left: 20px;
}

.amountText{
    padding-bottom: 5px;
}

.select{
    height: 30px;
    background-color: rgb(122, 13, 122);
}

.input{
    height: 30px;
}
.convertLogo{
    padding-left: 20px;
}

@media screen and (max-width: 600px){
    .text{
        line-height: 0.9;
        padding-top: 20px;
        padding-right: 5px;
    }

    .text h1{
        font-size: 18px;
    }
    .text h1{
        font-size: 15px;
    }

    .exchangeCard{
        width: 90%;
        left: 3px;
        top: 250px;
        flex-direction: column;
    }

    .convertLogo{
        display: none;
    }
    .exchangeInput{
        padding-bottom: 15px;
    }
}

